{% load static %}
<html>
    <head>
		<meta charset="UTF-8">
		<title>Wedding Bell</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- google fonts -->

		<!-- Css link -->
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{% static 'base/css/font-awesome.min.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/owl.carousel.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/owl.transitions.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/animate.min.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/lightbox.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/preloader.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/image.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/icon.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/style.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/responsive.css'%}">
		<link rel="stylesheet" href="{% static 'base/css/main.css'%}">

	</head>
	<body>

	    <header id="navigation" class="navbar-fixed-top animated-header">

				<div class="container">

					<div class="navbar-header">
						<!-- responsive nav button -->

						<!-- /responsive nav button -->

						<!-- logo -->
						<h1 class="navbar-brand">
							<a href="{% url 'main' %}"><img src="{% static 'base/img/logo.png'%}" height="40" width="164" alt=""></a>
						</h1>
						<!-- /logo -->
					</div>

					<!-- main nav -->
					<nav class="collapse navbar-collapse navbar-right" role="navigation">
						<ul id="nav" class="nav navbar-nav menu">
							<li><a href="{% url 'biodatalist' %}"><img alt="Couple blue" class="mil-icon" data-placement="bottom" data-toggle="tooltip" src="{% static 'base/img/matches.png'%}" title="Matches"></a></li>

							<li class="biodata-communication-request"><a href="{% url 'createbiodata' %}">
									<img alt="Friends2" class="biodata-communication-request-icon" data-placement="bottom" data-toggle="tooltip" src="{% static 'base/img/friends.png'%}" title="Biodata and Contacts">
								<span class="badge js-total-unseen-friends-notification hide">0</span>
								</a>
							</li>



							
							<li class="inbox">
									<a data-method="get" href="#inboxs">
									<i class="fa fa-envelope-o fa-lg js-inbox" data-toggle="tooltip" data-placement="bottom" title="Inbox"> </i>
									<span class="total-notification badge js-total-notification hide">0</span>
							</a>    </li>
							<li class="newspaper-ad hidden-xs">
								<a href="{% url 'news' %">
								<img alt="Newspaper icon 3" class="newspaper-icon permission-restricted hidden-xs" data-placement="bottom" data-toggle="tooltip" src="{% static 'base/img/newspaper.png'%}" title="Newspaper Advertisements">
								</a>      </li>

							<li class="general-search hidden-xs">
									<a data-placement="bottom" data-toggle="tooltip" href="#blog" target="_blank" title="Blog"><img alt="Blog icon grey" class="search-icon blog-icon hidden-xs" src="{% static 'base/img/blog.png'%}" width="25px"></a>
							</li>


							<li>


								<a><form class="logout-link" action="{% url 'logout' %}" method="post">
									{% csrf_token %}
									<button type="submit" class="dropbtn ">Logout</button>
									</form></a>
							</li>




						</ul>
					</nav>
					</div>
				</div>
		</header>

		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="create-biodata">
			<center>
				<h2>Create Your Biodata</h2>
				<br/><br/>
			{% if submitted %}
				Your Biodata Has Submitted Successfully!!
				
				
				
			{% else %}

				
				<form class="site-form" method="POST" enctype="multipart/form-dat">
					{% csrf_token %}

					{{ form.as_p }}
					<input type="submit" value="Submit" class="btn btn-success">
				</form>
			{% endif %}
			</center>
		</div>
		

	</body>
</html>
