{% load static %}


<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Trusted Bangladeshi Matrimonial Site</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
		
			<!-- google fonts -->
		
			<!-- Css link -->
			<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
			<link rel="stylesheet" href="{% static 'base/css/font-awesome.min.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/owl.carousel.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/owl.transitions.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/animate.min.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/lightbox.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/preloader.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/image.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/icon.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/style.css'%}">
			<link rel="stylesheet" href="{% static 'base/css/responsive.css'%}">
			
		</head>
		<body id="top">
	

        <header id="navigation" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body"><img src="{% static 'base/img/logo.png'%}" height="120" width="120" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="#features">Service</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#pricing-table">Price</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#testimonial">Testimonial</a></li>
                        <li><a href="#contact-form">Contact</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>


	<div class="wrapper">
		<section id="blog-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block text-center">
							<h1>Wedding Bell VS. Ghatak</h1>
							<p>By admin / Nov 18, 2021</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="blogleft">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1">
						<div class="blog-img row">
							<div class="col-md-12">
								<div class="block text-center"></div>
									<img class="img-responsive" src="{% static 'base/img/blog/blog1.jpg'%}" alt="">
								</div>
							</div>
						</div>
						<div class="block">
							<p class="first-child">Marriage is an important and virtuous deed, and to please Allah the Ghatak do this match making job gladly. It is popular and ancient method of marriage to search for a bride and groom by the Ghatak. When the marriage took place, both the groom's party and the bride's party used to honor Ghatak Sahib. After that the distance between the elements and the people increases. The tendency to make one's own marriage decisions increases. On the other hand, the family members who used to work as Ghataks are taking less risk due to different post-marriage conditions.
								<br>
								<br>
									Why Wedding Bell?
								<br> 
								<br>
									Nowadays we are relying on online almost every moment of every day. This online is becoming an important part of our daily work. We are becoming more and more dependent on online because of looking at magazines, weather forecasts, paying bills, including electricity bills, communicating, transacting, exchanging documents, looking for cars on the street, shopping at home, doing office work and so on. Although this idea is new in our Bangladesh, the practice of searching for spouses online in Europe, America and even in neighboring India is not new. In exchange of small amount in a short time people can find their suitable spouses, without being deceived or dependent on anyone. WEddingBell.com has been created out of all these ideas so that you can find the right person for yourself or your child or siblings without any hassle.
								<br> 
								<br>
									1) 	Search: WeddingBell.com must find the person of your choice yourself. On the other hand, Mr. Ghatak finds out that the bride and groom just pick. 
								<br> 
								<br>
									2) Number of spouses: It is possible to see the CVs of hundreds of spouses by matching your choice. On the other hand, this number is comparatively less for Mr. Ghatak.
								<br>
								<br>
									3) Match: WeddingBell.com has an easy opportunity to view each other's information by matching the biodata and the choice. Opportunity to reconcile yourself with hundreds of couples in a moment. Mr. Ghatak can also help in this matter, but it is not possible to choose between hundreds of biodata in a moment.
								<br>
								<br>
									4) Means of communication: If you like, you can upgrade the plan and send the request directly through Biyeta.com. And both have the opportunity to send phone numbers and address messages if they like. And it is possible to get married secretly, that is, no one will be able to find out if the news of marriage is not reported on WeddingBell.com. It is usually not possible to get any means of communication without the help or permission of Mr. Ghatak. However, marriage is not possible.
								<br>
								<br>
									5) Cost: The maximum plan price in Wedding Bell is 4 thousand rupees, 9 months validity, it is possible to send communication request to 100 people. Meaning a meaningless plan. And if someone likes you, marriage is possible without spending a single penny. There are many types of Ghatak Sahebs. However, those who are professionals also have to pay a certain amount at the beginning and at the end of the marriage. And its amount can be of different types. However, it can be from 15 thousand to one lakh.
								<br>
								<br>
									6) What is the probability of being cheated: Sending a request to someone in marriage can cost a maximum of 100 taka. This money will be deducted only if the request for communication is accepted. Otherwise it will not happen. And then you have to come back if you find the information wrong by searching for the phone number and address. And the probability of being cheated on it is a maximum of 100 taka. Because no one from the marriage will try to marry you with pressure.
								<br>
								<br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	
		<section id="blog-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block text-center">
							<h1>Understanding Companionship In Marriage</h1>
							<p>By admin / Nov 18, 2021</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="blogleft">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1">
						<div class="blog-img row">
							<div class="col-md-12">
								<img class="img-responsive" src="{% static 'base/img/blog/blog3.jpg'%}" alt="">
							</div>
						</div>
					</div>
					<div class="block">
						<p class="first-child">ONE major purpose of marriage, if not the main one, is companionship. Loneliness is hazardous to human life, and being without someone to love is killing. Despite this need for companionship that brings two people together as husband and wife, many couples hardly maintain that status. No wonder a lot of marriages are hitting the rock like thunderbolt.
							<br>
							<br>
								Without companionship, marriage is a mirage. Companionship is the key determinant factor of any lasting marriage. Simply stated, companionship is having someone to keep you company. And the company is basically about two persons. That is why a popular saying makes is clear that '2 is a company, 3 is a crowd'.
							<br>
							<br>
								Marital companionship means that no person, that I often called 'an intruder', however important to the husband and wife, is allowed a foot in the marriage. Parents, siblings, friends, bosses, even pastors/imams will make marital companionship a crowd.
							<br>
							<br>
								Not even the children are allowed to interfere in this companionship of husband and wife. Your spouse is supposed to be your best friend if you are in true companionship in the marriage. Some couples are not friends at all, but strange bed fellows using themselves for sexual gratification. They are merely tolerating themselves: they argue, quarrel and fight over and about almost everything, all of the time.
							<br>
							<br>
								Marriages are fast crumbling these days like a pack of cards because the above listed issues have become trivialized for whatever reasons. May be, we may fully consider these issues in subsequent write up in this column.
							<br>
							<br>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section id="blog-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block text-center">
							<h1>Embrace Their Flaws</h1>
							<p>By admin / Nov 18, 2021</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="blogleft">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1">
						<div class="blog-img row">
							<div class="col-md-12">
								<img class="img-responsive" src="{% static 'base/img/blog/blog3s.jpg'%}" alt="">
							</div>
						</div>
					</div>
					<div class="block">
						<p class="first-child">One of the ways to a healthy and successful relationship is genuinely accepting your partner for who they are. However, most couples fail to recognize this fact because they are either too busy looking for perfection or too occupied focusing on their partner's flaws.
							<br>
							<br>
								Treat your partner as an actual human being.
								And not just as an object to be admired and to be possessed. Accepting someone for who they are,  does not mean treating them as a prize or an accessory to be displayed in front of your peers.
							<br>
							<br>
								You do not have to share the same opinions and subscribe to the same beliefs all the time. As unique individuals, you should be entitled to your own definition of and reaction towards the world around you.
								Accepting someone for who they are means acknowledging the fact that you will always disagree on not just one but many things - and it's okay.
							<br>
							<br>
								Accept their imperfections and embrace their flaws.
								But beware there is a big difference between accepting someone's weaknesses and forgiving a person's abusive behavior.
							<br>
							<br>
								The former talks about how you accept your significant other's physical and emotional weaknesses. For instance, your partner may not be as talented as you, or they don't really share your level of confidence when it comes to socializing. These can all be learned in time.
							<br>
							<br>
								On the other hand, the latter talks about how someone can be emotionally and physically abusive to their significant other. Accepting these flaws means letting them hurt you because you still hope that they'll change. This is a dangerous and toxic relationship and should not be tolerated.
							<br>
							<br>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section id="blog-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block text-center">
							<h1>Wedding Budget Breakdown</h1>
							<p>By admin / Nov 18, 2021</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="blogleft">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1">
						<div class="blog-img row">
							<div class="col-md-12">
								<img class="img-responsive" src="{% static 'base/img/blog/blog4.jpg'%}" alt="">
							</div>
						</div>
					</div>
					<div class="block">
						<p class="first-child">Of all the complicated aspects of wedding planning, one of the most challenging for couples is creating and sticking to a reasonable wedding budget. While it can be daunting in many ways, experts agree that establishing a budget is crucial for most couples. Not only does it give you a clear idea of how much you want to spend, but a wedding budget breakdown ensures you know how much you can spend for every vendor.
							<br>
							<br>
								Why create a wedding budget?
							<br>
							<br>
								Weddings are one of the most expensive days in a person's life. Being able to correctly predict what you're able to financially handle, either through your own means or with the help of family and friends, will lead to less stress after you've said 'I do,'.
								Budgeting helps establish a feasible vision for your big day and can help you choose between various packages and offerings from different vendors. Another important reason to create a wedding budget is that prices have increased dramatically as a result of the COVID pandemic.
							<br>
							<br>
								We are seeing more and more people expand their budget for the little extra details and the 'wow' factor on their events, whether it is the anticipation after postponing or the extra time that has allowed couples to save more.
							<br>
							<br>
								What you need to consider:
							<br>
							<br>
								1) Your finances
							<br>
							<br>
								One of the first factors that couples consider when budgeting for their wedding is how their finances will look after their big day is over. “Figure out what your annual expenses look like without any changes at all. Then, think about the impact that different budget sizes would have on that after the bills start coming,” she says. “There's nothing worse than coming down from the joys of your wedding to be faced with massive credit card bills.”
							<br>
							<br>
								2) The location of your event
							<br>
							<br>
								Believe it or not, sometimes a destination wedding might afford you more of a budget to work with. This is because price can vary significantly depending on the city, state and country you choose to have your wedding.
							<br>
							<br>
								3) The amount of guests you want to invite
							<br>
							<br>
								The best way to temper your budget is to look at your guest list. Most couples expect that every guest will cost them the dinner plate price tag, but in reality it's much more than that.  “Each guest is factored into the number of tables, linens, centerpieces, favors, glassware, china, food, drink, etc.
							<br>
							<br>
								4) Event design	
							<br>
							<br>
								This is where you can easily blow your budget whether you are DIYing it or hiring a professional team, according to Crosswhite. You may believe DIY is the way to save. But once you add everything up—from the cost of the materials to the time it took you to create it all—you could have hired someone to do it for a reasonable price.To stay on budget, work with a designer who knows and understands your budget—whatever it may be.
							<br>
							<br>
						</p>
					</div>
				</div>
			</div>
		</section>
						
		<section id="blog-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block text-center">
							<h1>About Us</h1>
							<p>By admin / Nov 18, 2021</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="blogleft">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1">
						<div class="blog-img row">
							<div class="col-md-12">
								<img class="img-responsive" src="{% static 'base/img/blog/blog1s.jpg'%}" alt="">
							</div>
						</div>
					</div>
					<div class="block">
						<p class="first-child">Wedding Bell is a Bangladeshi website looking for a bride
							or groom online. We've been working since 2014 and we now have over 20,000
							fully verified profiles.
							<br>
							<br>
								 We have tried to create a platform that facilitates
								the process of getting acquainted with the bride and groom.
						</p>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<a href="#"><img src="{% static 'base/img/logo.png'%}" alt=""></a>
							
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

		<!-- load Js -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/lightbox.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/html5lightbox.js"></script>
		<script src="js/jquery.mixitup.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.scrollUp.js"></script>
		<script src="js/jquery.sticky.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
