{% load static %}

{% block content %}

<div class="container">
	<div class ="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'base/img/pr1.jpg'%}">
			<div class="box-element info">
				<h2 style="display: inline-block"><strong>Maisha Mahajabin</strong></h2>
			</div>
		</div>

		<div class="col-sm-6">
			<table class="table_working_hours">
				<tbody>
					<tr class="opened_1">
						<td class="day_label1">Age:25</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened_1">
						<td class="day_label1">Height:5'4"</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Religion :Muslim</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Marital Status :Unmarried</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Location :Savar,Dhaka</td>
						<td class="day_value"></td>
					</tr>

					<tr class="closed">
						<td class="day_label1">Education :BSc</td>
						<td class="day_value closed"><span></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
	</div>
</div>


<div class="container">
	<div class ="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'base/img/pr2.jpg'%}">
			<div class="box-element info">
				<h2 style="display: inline-block"><strong>Ridhi Chowdhury</strong></h2>
			</div>
		</div>

		<div class="col-sm-6">
			<table class="table_working_hours">
				<tbody>
					<tr class="opened_1">
						<td class="day_label1">Age:24</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened_1">
						<td class="day_label1">Height:5'5"</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Religion :Muslim</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Marital Status :Unmarried</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Location :Dhanmondi,Dhaka</td>
						<td class="day_value"></td>
					</tr>

					<tr class="closed">
						<td class="day_label1">Education :BBA</td>
						<td class="day_value closed"><span></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
	</div>
</div>


<div class="container">
	<div class ="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'base/img/pr3.jpg'%}">
			<div class="box-element info">
				<h2 style="display: inline-block"><strong>Imtiaz Ibna Imam</strong></h2>
			</div>
		</div>

		<div class="col-sm-6">
			<table class="table_working_hours">
				<tbody>
					<tr class="opened_1">
						<td class="day_label1">Age:24</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened_1">
						<td class="day_label1">Height:5'8"</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Religion :Muslim</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Marital Status :Unmarried</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Location :Uttara,Dhaka</td>
						<td class="day_value"></td>
					</tr>

					<tr class="closed">
						<td class="day_label1">Education :BBA</td>
						<td class="day_value closed"><span></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
	</div>
</div>


<div class="container">
	<div class ="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'base/img/pr5.jpg'%}">
			<div class="box-element info">
				<h2 style="display: inline-block"><strong>Anirban chowdhury</strong></h2>
			</div>
		</div>

		<div class="col-sm-6">
			<table class="table_working_hours">
				<tbody>
					<tr class="opened_1">
						<td class="day_label1">Age:28</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened_1">
						<td class="day_label1">Height:5'9"</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Religion :Hindu</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Marital Status :Unmarried</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Location :Banani,Dhaka</td>
						<td class="day_value"></td>
					</tr>

					<tr class="closed">
						<td class="day_label1">Education :EEE</td>
						<td class="day_value closed"><span></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
	</div>
</div>

<div class="container">
	<div class ="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'base/img/pr6.jpg'%}">
			<div class="box-element info">
				<h2 style="display: inline-block"><strong>Ishika Zaman</strong></h2>
			</div>
		</div>

		<div class="col-sm-6">
			<table class="table_working_hours">
				<tbody>
					<tr class="opened_1">
						<td class="day_label1">Age:23</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened_1">
						<td class="day_label1">Height:5'5"</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Religion :Muslim</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Marital Status :Unmarried</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Location :Mirpur,Dhaka</td>
						<td class="day_value"></td>
					</tr>

					<tr class="closed">
						<td class="day_label1">Education :Bsc</td>
						<td class="day_value closed"><span></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
	</div>
</div>


<div class="container">
	<div class ="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'base/img/pr7.jpg'%}">
			<div class="box-element info">
				<h2 style="display: inline-block"><strong>Mrinmoy Datta</strong></h2>
			</div>
		</div>

		<div class="col-sm-6">
			<table class="table_working_hours">
				<tbody>
					<tr class="opened_1">
						<td class="day_label1">Age:28</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened_1">
						<td class="day_label1">Height:5'8"</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Religion :Hindu</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Marital Status :Unmarried</td>
						<td class="day_value"></td>
					</tr>
					<tr class="opened">
						<td class="day_label1">Location :Green Road,Dhaka</td>
						<td class="day_value"></td>
					</tr>

					<tr class="closed">
						<td class="day_label1">Education :Civil</td>
						<td class="day_value closed"><span></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
	</div>
</div>

{% endblock content %}