{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="{% static 'base/css/news.css' %}" rel="stylesheet" media="all">
  <title>Newspaper</title>
</head>
<body>
  <div class="container">
    <header>
    <h1 class="heading-1">The Wedding Bell</h1>
    <div class="sub-heading">
      <p>Sunday, <span>january 08, 2022</span></p>
      <p class="importent">Your Desire To Know</p>
    </div>
    </header>

    <div class="main">
      <div class="home">
        <div class="left">
          <img src="{% static 'base/img/news1.jpg'%}" class="home-img" alt="Paper photo">

          <h3 class="heading-3">
            Bidya Sinha Mim Got married
          </h3>
        </div>

        <div class="right">
          <h3 class="heading-3">latest news</h3>
          <div class="lists">
            <div class="list">
              <img src="{% static 'base/img/news2.jpg'%}" alt="photo 1">
              <h4>Do wedding need to be extravagant? The charging trends in wedding</h4>
            </div>

            <div class="list">
              <img src="{% static 'base/img/news3.jpg'%}" alt="photo 2">
              <h4>These Simple Food will keep You Healthy During Wedding season</h4>
            </div>

            <div class="list">
              <img src="{% static 'base/img/news4.jpg'%}" alt="photo 3">
              <h4>Dia Mirza On Her Wedding Sari: I Have Great Respect For Indian Tradition</h4>
            </div>

            <div class="list">
              <img src="{% static 'base/img/news5.jpg'%}" alt="photo 4">
              <h4>Wedding planner dhaka Sets its Second branch In Chittagong</h4>
            </div>
          </div>
        </div>
      </div>

      <article>
        <p>Model and actress Bidya Sinha Mim has not been available on the phone for several days. He is not replying to the SMS sent in the messenger. Mim then where? According to several sources close to Mim, due to the formality of the marriage, Mim has kept himself out of all communication. He was finally found on Tuesday afternoon. Mim's wedding ceremony was held at a five star hotel in Dhaka. In the afternoon, the stills of Mim's wedding went viral on Facebook.</p>

        <p>The colorful wedding party was held near the swimming pool of a five-star hotel on Airport Road on Tuesday afternoon. Guests can be seen in white and gold in the green garden. Mim was sitting in the bride's seat on a well-arranged stage on one side of the swimming pool. Next to it is groom Soni Poddar. Before that, they are tied to the seven rules.</p>

        <p>Some of the Bollywood or Hollywood stars keep strict secrecy regarding the wedding ceremony. Much like that has happened in the case of model and actor Mim. There were two family members of the bride and groom and very close people present. The previous day was the ceremony of Gaehalud.</p>
      </article>
    </div>
  </div>

  <blockquote>
    There is no end to people's curiosity about the marriage of stars. When the stars of the screen choose the real hero or heroine of real life, then the question arises in everyone's mind, who? How? What happened? Everyone is now accustomed to watching the marriages of world celebrities for the benefit of social media. There must be curiosity about the country's star. Mim was no exception. Readers and fans were engrossed in various news and pictures of Mim's Gayehlud and marriage since last night.
  </blockquote>

  <div class="cards">
    <div class="card">
      <h4 class="heading-4">Green Flags</h4>
      <p>“What Are Some Green Flags To Look Out For When Searching For A Partner?”</p>
    </div>

    <div class="card">
      <h4 class="heading-4">Wedding Dresses</h4>
      <p>22 Striking Yet Simple Wedding Dresses for Minimalist Brides</p>
    </div>

    <div class="card">
      <h4 class="heading-4">Wedding Invitations</h4>
      <p>The Best Wedding Invitations You Can Buy Online</p>
    </div>
  </div>
</body>
</html>