
{% load static %}
<!DOCTYPE html>

<html>

    <head>

    <title>Table layout</title>

    
    <link href="{% static 'base/css/price.css' %}" rel="stylesheet" media="all">

    </head>

    <body>

        <div class="filter">

        </div>

        <table >

            <tr>
                <th>Option</th>
                <th>Silver</th>
                <th>Gold</th>
                <th>Premium</th>
            </tr>

            <tr>
                <td>Duration</td>
                <td>Two months</td>
                <td>Six months</td>
                <td>Nine months</td>
            </tr>

            <tr>
                <td>Short Profile</td>
                <td>Available</td>
                <td>Available</td>
                <td>Available</td>
            </tr>

            <tr>
                <td>Preview Biodata</td>
                <td>Available</td>
                <td>Available</td>
                <td>Available</td>
            </tr>
 
            <tr>
                <td>Request Contact</td>
                <td>25</td>
                <td>60</td>
                <td>100</td>
            </tr>

            <tr>
                <td>Preview Other's Biodata</td>
                <td>Unavailable</td>
                <td>Available</td>
                <td>Available</td>
            </tr>

            <tr>
                <td>Download Document</td>
                <td>Available</td>
                <td>Available</td>
                <td>Available</td>
            </tr>

            <tr>
                <td>Newpaper Advertisements</td>
                <td>Available</td>
                <td>Available</td>
                <td>Available</td>
            </tr>

            <tr>
                <td>Experts Consultation</td>
                <td>Unavailable</td>
                <td>Available</td>
                <td>Available</td>
            </tr>

            <tr>
                <td>Code</td>
                <td>si20F</td>
                <td>go20F</td>
                <td>pr20F</td>
            </tr>

            <tr>
                <td>Price</td>
                <td>1200tk</td>
                <td>2500tk</td>
                <td>4000tk</td>
            </tr>
        </table>


    </body>

</html>