{% load static %}

{% block content %}


<br/>
<br/>
<br/>
<br/>
<div class="wrapper">
	<section id="blog-header">
		<div class="container">
			<div class ="row">
				<div class="col-md-4">
					<img class="thumbnail" src="{% static 'base/img/pr1.jpg'%}">
					<div class="box-element info">
						<h3 style="display: inline-block"><strong>Maisha Mahajabin</strong></h3>
						<a class="btn btn-outline-success" href="../myprofile/"><strong><h2>View Profile</strong></a>
					</div>
				</div>
				<div class="col-md-4">
					<img class="thumbnail" src="{% static 'base/img/pr2.jpg'%}">
					<div class="box-element info">
						<h3 style="display: inline-block"><strong>Ridhi Chowdhury</strong></h3>
						<a class="btn btn-outline-success" href="../myprofile/"><strong><h2>View Profile</strong></a>
					</div>
				</div>
				<div class="col-md-4">
					<img class="thumbnail" src="{% static 'base/img/pr3.jpg'%}">
					<div class="box-element info">
						<h3 style="display: inline-block"><strong>Imtiaz Ibna Imam</strong></h3>
						<a class="btn btn-outline-success" href="../myprofile/"><strong><h2>View Profile</strong></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class ="row">
				<div class="col-md-4">
					<img class="thumbnail" src="{% static 'base/img/pr5.jpg'%}">
					<div class="box-element info">
						<h3 style="display: inline-block"><strong>Anirban chowdhury</strong></h3>
						<a class="btn btn-outline-success" href="../myprofile/"><strong><h2>View Profile</strong></a>
					</div>
				</div>
				<div class="col-md-4">
					<img class="thumbnail" src="{% static 'base/img/pr6.jpg'%}">
					<div class="box-element info">
						<h3 style="display: inline-block"><strong>Ishika Zaman</strong></h3>
						<a class="btn btn-outline-success" href="../myprofile/"><strong><h2>View Profile</strong></a>
					</div>
				</div>
				<div class="col-md-4">
					<img class="thumbnail" src="{% static 'base/img/pr7.jpg'%}">
					<div class="box-element info">
						<h3 style="display: inline-block"><strong>Mrinmoy Datta</strong></h3>
						<a class="btn btn-outline-success" href="../myprofile/"><strong><h2>View Profile</strong></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
		
			
{% endblock content %}